<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>MELD - Neuer Fall</title>

  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/form.css">

  <script type="module" src="../scripts/form/index.js" defer></script>
  <script type="module" src="../scripts/form/case.js" defer></script>
  <script type="module" src="../scripts/form/mri.js" defer></script>
</head>

<body>
  <header>
    <form id="patient_form" class="header-content-wrapper">
      <input type="hidden" name="id">
      <input type="hidden" name="has_lesional_mri" id="has_lesional_mri">

      <div class="vertical-input-field">
        <label for="kkb_id">Patientennummer*</label>
        <input type="number" class="meld-input" name="kkb_id" id="kkb_id" required>
      </div>
      <div class="vertical-input-field">
        <label for="surename">Nachname*</label>
        <input type="text" class="meld-input" id="surename" name="surename" required>
      </div>
      <div class="vertical-input-field">
        <label for="firstname">Vorname*</label>
        <input type="text" class="meld-input" id="firstname" name="firstname" required>
      </div>
      <div class="vertical-input-field">
        <label for="DOB">Geburtsdatum*</label>
        <input type="date" class="meld-input" id="DOB" name="DOB" required>
      </div>
      <div class="vertical-input-field">
        <label for="sex">Geschlecht*</label>
        <select type="date" class="meld-input" id="sex" name="sex" required>
          <option hidden selected disabled value=""></option>
          <option value="0">männlich</option>
          <option value="1">weiblich</option>
          <option value="555">keine Angaben</option>
        </select>
      </div>
    </form>
  </header>

  <main id="main" class="hidden">
    <section id="mri_section">
      <h2>
        MRTs
        <i class="bi bi-file-earmark-plus tooltip" id="add_mri" data-tooltip="MRT Hinzufügen"></i>
      </h2>
      <ul id="mris_list"></ul>
    </section>

    <form id="meld_form">
      <h2>MELD-Fragen</h2>

      <div id="main_section"></div>
      <div id="op_section"></div>
      <input type="hidden" name="patient_id" id="meld_patient_id">
    </form>

    <div class="meld-control-field">
      <label for="is_complete">Fall als vollständig markieren</label>
      <input type="checkbox" name="is_complete" id="is_complete" value="2">
    </div>
  </main>

  <footer>
    <div class="footer-content-wrapper">
      <button class="meld-button blue" id="close_button">Schließen</button>
      <button class="meld-button" id="main_submit">Speichern</button>
      <button class="meld-button red hidden" id="case_delete_btn">Fall Löschen</button>
    </div>
  </footer>

  <div class="overlay" id="ann_form_overaly">
    <form class="dialog-container" id="annotation_form">

      <input type="hidden" name="ann_id" id="ann_id">
      <input type="hidden" name="mri_id" id="ann_mri_id">

      <div class="inline-field">
        <label for="arrow_num">Pfeilnummer</label>
        <input type="number" class="meld-input" name="arrow_num" id="arrow_num" min="1" step="1">
      </div>

      <select class="meld-input" name="entity_code" id="entity_code_select" required>
        <option selected hidden disabled value="">Entität auswählen</option>
      </select>

      <input type="text" class="meld-input" name="entity_name" id="entity_name" placeholder="Und Zwar" required>

      <div class="inline-field">
        <label>Epileptogenizität</label>
        <div class="choices-wrapper">
          <div class="choice-box">
            <input type="radio" name="epileptogenic" value="1" id="epileptogenic_1" required>
            <label for="epileptogenic_1">Ja</label>
          </div>
          <div class="choice-box">
            <input type="radio" name="epileptogenic" value="0" id="epileptogenic_0" required>
            <label for="epileptogenic_0">Nein</label>
          </div>
        </div>
      </div>

      <div class="inline-field">
        <label>Therapie</label>
        <div class="choices-wrapper">
          <div class="choice-box">
            <input type="radio" name="therapy" value="1" id="therapy_1" required>
            <label for="therapy_1">Ja</label>
          </div>
          <div class="choice-box">
            <input type="radio" name="therapy" value="0" id="therapy_0" required>
            <label for="therapy_0">Nein</label>
          </div>
        </div>
      </div>

      <div class="inline-field">
        <label>Verlaufskontrolle</label>
        <div class="choices-wrapper">
          <div class="choice-box">
            <input type="radio" name="follow_up" value="1" id="follow_up_1" required>
            <label for="follow_up_1">Ja</label>
          </div>
          <div class="choice-box">
            <input type="radio" name="follow_up" value="0" id="follow_up_0" required>
            <label for="follow_up_0">Nein</label>
          </div>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="meld-button" id="annotation_submit" disabled>Speichern</button>
        <button type="reset" class="meld-button red">Abbrechen</button>
      </div>
    </form>
  </div>

  <div class="overlay" id="mri_form_overaly">
    <form class="dialog-container" id="mri_form">
      <input type="hidden" name="patient_id" id="mri_patient_id">
      <input type="text" class="meld-input" name="study_id" id="mri_study_id" placeholder="Studien-UID" required>

      <div class="form-buttons">
        <button type="submit" class="meld-button" id="mri_submit" disabled>Speichern</button>
        <button type="reset" class="meld-button red">Abbrechen</button>
      </div>
    </form>
  </div>
</body>

</html>