main {
  max-width: 100vw;
  margin-top: 6rem;
}

#table_nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem 1rem;
  gap: 1rem;
  align-items: center;
}

#table_nav a {
  font-weight: 600;
  padding: .3rem .75rem;
  border-bottom: 3px solid transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

#table_nav a:hover {
  border-bottom-color: var(--blue-light);
}

#table_nav a.selected {
  border-bottom-color: var(--blue);
}

table {
  width: 100%;
  margin-bottom: 2rem;
}

tr {
  transition: var(--transition);
}

.table-title {
  text-align: center;
  font-weight: 600;
  background-color: var(--green-light);
  user-select: none;
}

.table-headers {
  font-weight: 600;
  background-color: var(--blue-light);
  user-select: none;
}

tr:active {
  background-color: var(--orange-light);
}

.table-title:active {
  background-color: var(--green-light);
}

.table-headers:active {
  background-color: var(--blue-light);
}

tr td:first-child {
  width: 15rem;
}

tr td:nth-child(2) {
  width: 35%;
}

td {
  padding: .5rem;
  border-bottom: 1px solid #e7e7e7a4;
  user-select: text;
}

.table-title td,
.table-headers td {
  user-select: none;
}

.entities-group-row {
  font-weight: 600;
  background-color: var(--orange-light);
}

#table_export_form {
  padding: 1.5rem 3rem;
}

#export_btn i {
  font-size: 1.5rem;
}

@media (max-width: 730px) {
  main {
    margin-top: 9rem;
  }
}

@media (max-width: 397px) {
  main {
    margin-top: 12rem;
  }
}

@media (max-width: 290px) {
  main {
    margin-top: 15rem;
  }
}