.header-content-wrapper,
.footer-content-wrapper {
  column-gap: .5rem;
}

main {
  padding: 7rem 1rem;
}

h2 {
  background-color: var(--green-light);
  border-radius: var(--radius);
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.vertical-input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: .5rem;
}

.vertical-input-field>label {
  margin-left: 1rem;
}

ul {
  list-style: none;
}

#mris_list {
  margin-bottom: 2rem;
}

.mri-field {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 3px solid var(--blue-light);
  border-radius: var(--radius);
  position: relative;
}

.mri-data {
  padding: .5rem 1rem;
  font-weight: 600;
  border-bottom: 1px solid #e7e7e7;
}

.study-id {
  font-weight: 500;
  cursor: pointer;
}

.bi-copy {
  opacity: 0;
  transition: var(--transition);
}

.study-id:hover+.bi-copy {
  opacity: .5;
}

.action-icons {
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

.bi-file-earmark-plus,
.action-icons {
  position: absolute;
  top: .75rem;
  right: 1.75rem;
}

.annotation .action-icons {
  top: 50%;
  transform: translateY(-50%);
}

.annotations-list {
  padding: .5rem 1rem;
}

.annotation {
  display: grid;
  grid-template-columns: 5rem auto 8rem 8rem 8rem 4rem;
  padding: .5rem 1.5rem;
  margin-bottom: .25rem;
  border-radius: var(--radius);
  background-color: var(--blue-light);
  position: relative;
}

.annotation>span:nth-child(3),
.annotation>span:nth-child(4),
.annotation>span:nth-child(5) {
  text-align: center;
}

.annotations-list .annotation:first-child {
  font-weight: 600;
  background-color: transparent;
}

.annotation:hover {
  filter: brightness(1.2);
}

.empty-mris,
.non-lesional {
  padding: 1rem;
  text-align: center;
}

.meld-control-field {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  gap: var(--gap);
  padding: .75rem 1rem;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}

main>.meld-control-field:last-child {
  border-bottom: none;
}

.note {
  margin-left: .5rem;
  color: gray;
}

#field_radiology_other,
#field_histology_other,
#field_procedure_other,
#op_section {
  display: none;
  background-color: var(--orange-light);
}

/* Annotation form */
#mri_form,
#annotation_form {
  row-gap: 1.25rem;
}

.inline-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1rem;
  align-items: center;
}

.form-buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  column-gap: 1rem;
}

#entity_name {
  display: none;
}

.hidden {
  visibility: hidden;
}