.header-content-wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

#meld_logo {
  width: 120px;
  margin-right: 1.5rem;
  object-fit: contain;
  border-radius: var(--radius);
}

#management_form {
  display: grid;
  grid-template-columns: 60% auto;
  width: 100%;
  column-gap: .5rem;
  row-gap: .5rem;
}

.form-actions {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1 / span 2;
  gap: .5rem;
}

.half-buttons {
  display: flex;
  gap: .5rem;
}

.filters-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  row-gap: 1rem;
}

.filter-bar {
  display: grid;
  grid-template-columns: 50px auto;
}

.filter-bar span {
  font-weight: 600;
}

/* Cases list styles */
.list-infos {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 3rem;
  row-gap: 1rem;
  border-top: 1px solid #d6d6d6;
}

.list-labels,
.case-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#cases_list {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto 3rem;
  margin-top: 14.5rem;
  padding: 0 1rem;
  row-gap: .5rem;
  list-style: none;
}

.case-bar {
  padding: 1rem 2rem;
  background-color: var(--orange-light);
  border-radius: var(--radius);
  cursor: pointer;
}

.case-bar:hover {
  background-color: var(--orange);
}

.case-bar.complete {
  background-color: var(--green-light);
}

.case-bar.complete:hover {
  background-color: var(--green);
}

.empty-bar {
  padding: 2rem 0;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 760px) {
  #meld_logo {
    display: none;
  }

  #management_form {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .form-actions {
    grid-column: 1;
    grid-row: 2;
  }

  #cases_list {
    margin-top: 1rem
  }
}


@media (max-width: 390px) {
  .filter-bar {
    grid-template-columns: 1fr;
    row-gap: .5rem;
  }
}