<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" href="../icons/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/home.css">
  <script type="module" src="../scripts/home.js" defer></script>
  <title>MELD</title>
</head>

<body>

  <header>
    <div class="header-content-wrapper">
      <img id="meld_logo" src="../images/MELD_logo.png" alt="MELD Logo">

      <form id="search_form">
        <input type="search" class="meld-input" name="query" placeholder="Name, Vorname oder Patientennummer">

        <div class="form-actions">
          <div class="half-buttons">
            <button type="submit" class="meld-button">Suchen</button>
            <button type="button" id="reset_button" class="meld-button red">Zurücksetzen</button>
          </div>
          <button type="button" id="advanced_search_btn" class="meld-button">Erweiterte Suche</button>
          <button type="button" id="new_case_button" class="meld-button green">Neuen Fall Anlegen</button>
        </div>

        <div class="filters-container">
          <div class="filter-bar">
            <span>Fälle:</span>

            <div class="choices-wrapper">
              <div class="choice-box">
                <input type="radio" name="completeStatus" id="complete_filter_all" value="all" checked>
                <label for="complete_filter_all">Alle</label>
              </div>

              <div class="choice-box">
                <input type="radio" name="completeStatus" id="complete_filter_2" value="2">
                <label for="complete_filter_2">Vollständig</label>
              </div>

              <div class="choice-box">
                <input type="radio" name="completeStatus" id="complete_filter_0" value="0">
                <label for="complete_filter_0">Unvollständig</label>
              </div>
            </div>
          </div>

          <div class="filter-bar">
            <span>MRTs:</span>

            <div class="choices-wrapper">
              <div class="choice-box">
                <input type="radio" name="mriStatus" id="mri_filter_all" value="all" checked>
                <label for="mri_filter_all">Alle</label>
              </div>

              <div class="choice-box">
                <input type="radio" name="mriStatus" id="mri_filter_1" value="1">
                <label for="mri_filter_1">Läsionell</label>
              </div>

              <div class="choice-box">
                <input type="radio" name="mriStatus" id="mri_filter_0" value="0">
                <label for="mri_filter_0">Non-läsionell</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="list-infos">
      <p>
        <span id="patients_counter"></span>
        <span id="selected_entity"></span>
      </p>

      <div class="list-labels">
        <span>Patientennummer</span>
        <span>Nachname, Vorname</span>
        <span>Geburstdatum</span>
      </div>
    </div>
  </header>

  <main>
    <ul id="patients_list"></ul>

    <div class="to-top-box">
      <i class="bi bi-arrow-up-circle-fill" id="to_top_btn"></i>
    </div>
  </main>

  <div class="overlay" id="advanced_form_overlay">
    <form class="dialog-container" id="advanced_search_form">

      <input type="text" class="meld-input" name="studyId" id="study_id_input" placeholder="MRT-Studien-UID suchen">

      <div class="adv-search-from-seperator">
        <hr>
        oder
        <hr>
      </div>

      <select class="meld-input" name="entityCode" id="entity_filter_select">
        <option selected disabled hidden value="">Läsionsentität auswählen</option>
      </select>

      <div class="form-buttons">
        <button type="submit" class="meld-button" id="advanced_search_submit">Suchen</button>
        <button type="reset" class="meld-button red">Abbrechen</button>
      </div>

    </form>
  </div>

</body>

</html>